*{
    margin: 0;
    font-family: Arial;
    border: border-box;
    
}

.navbar{
    height: 36px;
    padding-top: 22px;
    padding-bottom: 22px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
    width: 100%;
    /* position: fixed; */
    /* transition: background-color 0.4s ease; */
    z-index: 2;
}




.nav-logo{
    height: 80px;
    width: 150px;
    margin-left: 40px;
    background-image: url("webphoto2.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; 
}